@model ControlNobreak.Models.ErrorViewModel

<div class="text-center">
    <h1 class="display-4">Erro.</h1>
    <p>Ocorreu um erro ao processar sua solicitação.</p>
    <p>
        <strong>RequestId:</strong> @Model?.RequestId
    </p>
</div>
